<p><%= question.body %></p>
<tr>
  <td>
    <%= link_to 'show', question_path(question) %> |
  </td>
  <td>
    <%= link_to "delete", question_path(question), method: :delete %>
    |
  </td>
  <td>
    <%= link_to "edit", edit_question_path(question) %>
  </td>
</tr>
