<h1><%= @test_passage.test.title %> Test was Completed!</h1>

<% if @test_passage.successful? %>
  <p>Congratulations! Your final score is <span class="success"><%= @test_passage.score_counter.to_i %></span></p>
<% else %>
  <p>Review the topic! Your final score is <span class="failure"><%= @test_passage.score_counter.to_i %></span></p>
<% end %>

<p>
  <%= link_to "Back to All Tests", tests_path %>
</p>

