  <% if resource.present? && resource.errors.any? %>
    <div class="error">
      <p>
        <b>
          <%= t('.header', count: resource.errors.count) %>:
        </b>
      </p>

      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
