<li>
  <%= answer.body %><br>
  <%= link_to t('actions.view'), admin_answer_path(answer) %> |
  <%= link_to t('actions.edit'), edit_admin_answer_path(answer) %> |
  <%= link_to t('actions.delete'), admin_answer_path(answer),
                        method: :delete,
                        data: { confirm: t('warning.confirm')} %>
</li>
