<tr>
  <td><%= question.body %></td>
  <td><%= link_to t('actions.view'), admin_question_path(question) %></td>
  <td><%= link_to t('actions.delete'), admin_question_path(question), method: :delete %></td>
  <td><%= link_to t('actions.edit'), edit_admin_question_path(question) %></td>
</tr>
