.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.scroll {
  overflow: scroll
}

body{
  height:100%; /* force the BODY element to match the height of the HTML element */
}

img {
  max-width: 50px;
}
