<div class="container">
  <h5 class="mt-4"><%= @test.title %></h5>

  <%= link_to t('actions.add'), new_admin_test_question_path(@test), class: 'btn btn-primary' %>
  <%= link_to t('actions.back'), admin_tests_path, class: 'btn btn-primary' %><br>

  <table class="table table-hover col-md-6 mt-3">
    <tbody>
      <%= render @test.questions %>
    </tbody>
  </table>
</div>
