<h2><%= @test.title %></h2>

<tr>
  <td>
    <%= link_to t('actions.add'), new_admin_test_question_path(@test) %>
    |
  </td>
  <td>
    <%= link_to t('actions.back'), admin_tests_path %>
  </td>
</tr>

<%= render @test.questions %>
