<h2><%= @test.title %></h2>

<tr>
  <td>
    <%= link_to "add", new_admin_test_question_path(@test) %>
    |
  </td>
  <td>
    <%= link_to "back", admin_tests_path %>
  </td>
</tr>

<%= render @test.questions %>
