<div>
  <br>
  <br>
  <br>
  <tr>
    <td>
      <%= current_year %>
      |
    </td>
    <td>
      <%= github_url('vtka', 'test-guru') %>
      |
    </td>
    <td>
      <%= thinknetica_link %>
    </td>
  </tr>
  <p>
    Test Guru - веб-платформа для обучения навыков программирования!
  </p>
</div>
